.container{
    display: flex;
    width: 90%;
    border: 2px solid black;
}


.texto{
    width: 34.8vw;
    height: 77.97vh;
    border: red solid;
}

.carrosel{

}

img{
    width: 100%;
    height: 77.97vh;
}

